*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
  width: 100%;
}

.inputbox{
  margin-bottom: 8px;
}